<!DOCtype HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>To do list</title>
		<style>
			.done-true{
				color: grey;
				text-decoration: line-through;
			}
			span[contentEditable="true"]{
				background-color: red;
			}
		</style>
	</head>
	<body ng-app="app">
	<div ng-controller="mainController">
		<center>
			<h1>To Do List</h1>
			<input type="text" ng-model="task" size="60"><br><br>
			<input type="button" ng-click="addTask()" value="Add task">
			<input type="button" ng-show="taskList.length>0" ng-click="removeTask()" value="delate checked tasks">
		</center>
			<ol>
				<li ng-repeat="fullList in taskList">
				<input type="checkbox" ng-model="fullList.status">
				<span ng-dblclick="editTask()" class="done-{{fullList.status}}" ng-model="fullList.taskContent" ng-keydown="closeEdit(fullList.taskContent)"> 
				{{fullList.taskContent}} <br>
				<textarea  cols="30" rows="3" ng-show="descView"></textarea> 
				</span>
				</li>
			</ol>
			<input type="button" value="check descriptions" ng-init="descView = false" ng-show="taskList.length > 0" ng-click="descView = !descView">
		

	</div>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="scripts/myScripts.js"></script>
	</body>
</html>